<div class="banner-container">
    <div class="info-container">
        <div class="info-head">
            <div class="title">
                Your gateway to the global payment ecosystem
            </div>
            <div class="sub-title">
                Tap into Verto's global network for fast, cost-efficient transactions. 
                Operate locally from anywhere: set up instant local accounts, accept native currency payments, 
                manage multi-currency funds, convert at interbank rates, and execute high-speed global transfers.
            </div>
        </div>
        <div class="info-list-container">
            <div class="info-list-box" *ngFor="let item of infoList">
                <div class="heading">{{item.heading}}</div>
                <div class="desc">{{item.description}}</div>
            </div>
        </div>
    </div>
    <div class="global-img-container">
        <div class="position-relative h-100">
            <img class="globe-img" src="../../assets/globe.png" alt="Global">
            <img class="arrow1" src="../../assets/arrow1.png" alt="arrow1">
            <img class="arrow2" src="../../assets/arrow2.png" alt="arrow2">
            <img class="ellipse1" src="../../assets/ellipse1.png" alt="ellipse1">
            <img class="ellipse2" src="../../assets/ellipse2.png" alt="ellipse2">
        </div>
    </div>
</div>